<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>UpdateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>XboxServlet</servlet-name>
        <servlet-class>XboxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>XboxServlet</servlet-name>
        <url-pattern>/XboxServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WriteReviews</servlet-name>
        <servlet-class>WriteReviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WriteReviews</servlet-name>
        <url-pattern>/WriteReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SubmitReview</servlet-name>
        <servlet-class>SubmitReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitReview</servlet-name>
        <url-pattern>/SubmitReview</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewReviews</servlet-name>
        <servlet-class>ViewReviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewReviews</servlet-name>
        <url-pattern>/ViewReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>cart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>SubmitOrder</servlet-name>
        <servlet-class>SubmitOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitOrder</servlet-name>
        <url-pattern>/SubmitOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SonyServlet</servlet-name>
        <servlet-class>SonyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SonyServlet</servlet-name>
        <url-pattern>/SonyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NitendoServlet</servlet-name>
        <servlet-class>NitendoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NitendoServlet</servlet-name>
        <url-pattern>/NitendoServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>AccessoryServlet</servlet-name>
        <servlet-class>AccessoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccessoryServlet</servlet-name>
        <url-pattern>/AccessoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EAServlet</servlet-name>
        <servlet-class>EAServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EAServlet</servlet-name>
        <url-pattern>/EAServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActServlet</servlet-name>
        <servlet-class>ActServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActServlet</servlet-name>
        <url-pattern>/ActServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TtiServlet</servlet-name>
        <servlet-class>TtiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TtiServlet</servlet-name>
        <url-pattern>/TtiServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrackOrderServlet</servlet-name>
        <servlet-class>TrackOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackOrderServlet</servlet-name>
        <url-pattern>/TrackOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>CancelOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SalesmanServlet</servlet-name>
        <servlet-class>SalesmanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalesmanServlet</servlet-name>
        <url-pattern>/SalesmanServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WarrantyServlets</servlet-name>
        <servlet-class>WarrantyServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WarrantyServlets</servlet-name>
        <url-pattern>/WarrantyServlets</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataAnalytic</servlet-name>
        <servlet-class>DataAnalytic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataAnalytic</servlet-name>
        <url-pattern>/DataAnalytic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindReviews</servlet-name>
        <servlet-class>FindReviews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindReviews</servlet-name>
        <url-pattern>/FindReviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TrendingServlet</servlet-name>
        <servlet-class>TrendingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrendingServlet</servlet-name>
        <url-pattern>/TrendingServlet</url-pattern>
    </servlet-mapping>
</web-app>
